<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <h2 class="text-center">estUdyante </h2>
    <div id="sign">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <h1>Sign up </h1></div>
            </div>
            <div class="row">
                <div>
                    <label>First Name: </label>
                    <input class="input-sm" type="text" name="fname" required="" placeholder="Enter your First name">
                </div>
            </div>
            <div class="row">
                <div>
                    <label><strong>Last Name</strong>: </label>
                    <input class="input-sm" type="text" name="lname" required="" placeholder="Enter your Last name">
                </div>
            </div>
            <div class="row">
                <div>
                    <label>Email Address: </label>
                    <input class="input-sm" type="email" name="email" required="" placeholder="Enter your Email Address">
                </div>
            </div>
            <div class="row">
                <div>
                    <label>School: </label>
                    <input class="input-sm" type="text" name="school" required="">
                </div>
            </div>
            <div class="row">
                <div>
                    <label>Course: </label>
                    <input class="input-sm" type="text" required="">
                </div>
            </div>
            <div class="row">
                <div>
                    <label> </label>
                    <label>Birthday: </label>
                    <input class="input-sm" type="text">
                </div>
            </div>
            <div class="row">
                <div>
                    <label>Contact Number: </label>
                    <input class="input-sm" type="text">
                </div>
            </div>
            <button class="btn btn-info btn-lg" type="submit">SIGN UP</button>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>